:root {
  --bg: #1098ad;
  --ph: oklch(from var(--bg) calc(1.25 * l) c h);
  --size-1: 0.125rem;
}

body {
  margin: 0;
  font-family: system-ui;
  background-color: var(--bg);
  color: white;
}

textarea {
  background-color: var(--bg);
  color: white;
  border-color: transparent;
}

textarea::placeholder {
  color: var(--ph);
}

.splash {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.editor {
  min-height: 100dvh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-1);
  & form {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;

    & textarea {
      flex-grow: 1;
    }
  }

  & .preview {
    padding-inline: 0.25rem;
  }
}
