:root {
  --bg: #1098ad;
  --ph: oklch(from var(--bg) calc(1.25 * l) c h);
  --size-1: 0.125rem;
}

body {
  margin: 0;
  font-family: system-ui;
}

textarea {
  background-color: transparent;
  color: white;
  border-color: transparent;
  width: 100%;
  height: 100%;
}

textarea,
#preview {
  padding: 1rem;
}

textarea::placeholder {
  color: var(--ph);
}

.splash {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;

  & input[type="radio"] {
    display: none;
  }

  & label {
    padding: 1rem;
    display: block;
  }
  & input[type="radio"]:checked + label {
    border-block-end: 2px solid green;
  }
  & input[type="radio"]:checked + label + .tab-content {
    display: block;
    grid-column: span 2;
  }

  & .tab-content {
    order: 99;
    display: none;
  }
}
