body {
  margin: 0;
  font-family: system-ui;
  background-color: #333;
  color: white;
}

textarea {
  background-color: #333;
  color: white;
}

.splash {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.editor {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  & form {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;

    & textarea {
      flex-grow: 1;
    }
  }

  & .preview {
    padding-inline: 0.25rem;
  }
}
